@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
* {
  box-sizing: border-box;
  --main-color: #880e4f;
}
body {
  background: #eee;
  font-family: "Nunito", sans-serif;
}
h1 {
  text-align: center;
}
.book-list {
  width: 40%;
  height: 100%;
}
.book-list ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.book-list ul li {
  list-style: none;
  border: 2px solid var(--main-color);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}
.book-list ul li:hover {
  background-color: var(--main-color);
  color: white;
  transition: 300ms;
}

.inputs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40vw;
  height: 200px;
  background-color: white;
  border-radius: 8px;
}
form div {
  padding: 10px;
  text-align: right;
}
form div input {
  padding: 5px;
  width: 50%;
  border-radius: 4px;
}
form div select {
  border-radius: 4px;
  padding: 5px;
  outline: none;
  width: 50%;
}
form div option {
  padding: 5px;
  background-color: #880e4f;
  color: white;
  font-size: large;
}
form button {
  background-color: var(--main-color);
  color: white;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  font-weight: bold;
  transition: 300ms;
}
form button:hover {
  padding: 10px 60px;
}
.book-details {
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  height: 100vh;
  padding: 30px;
  background-color: var(--main-color);
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.loading {
  text-align: center;
  background-color: #880e4f;
  color: white;
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
}
